@model TaxNetXML.Models.File
@{ViewBag.Title = "Редактирование записи";}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>File</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FileVersion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FileVersion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FileVersion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*<label class="control-label col-md-2" for="DateTime">DateTime</label>*@
            @Html.LabelFor(model => model.DateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<p>
    Формат данных: yyyy-MM-ddTHH:mm:sszzz,<br />
    где <a href="https://msdn.microsoft.com/ru-ru/library/8kb3ddd4(v=vs.110).aspx#zzzSpecifier">zzz</a>
    это сдвиг в часах и минутах от времени в формате UTC (универсального времени).<br />
    Пример: 2017-03-31T12:00:00+03:00<br />
</p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {@Scripts.Render("~/bundles/jqueryval")}