@*@model IEnumerable<TaxNetXML.Models.User>*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@{
        ViewBag.Title = "Выгрузка базы данных в XML файл";
    }
    <h2>@ViewBag.Title.</h2>*@

<div>
    @*<table>
            <tr class="header">
                <td><p>@ViewBag.ColumnHeaders[0]</p></td>
                <td><p>@ViewBag.ColumnHeaders[1]</p></td>
                <td><p>@ViewBag.ColumnHeaders[2]</p></td>
            </tr>
        </table>*@

    <h3>Files</h3>
    <table>
        <tr class="header">
            <td><p>Id</p></td>
            <td><p>Name</p></td>
            <td><p>FileVersion</p></td>
            <td><p>DateTime</p></td>
        </tr>
        @foreach (var b in ViewBag.Files) {
            <tr>
                <td><p>@b.Id</p></td>
                <td><p>@b.Name</p></td>
                <td><p>@b.FileVersion</p></td>
                <td><p>@b.DateTime</p></td>
            </tr>}
    </table>
</div>